.form-main {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-areas:
        "nav"
        "body";
    grid-template-rows: 70px 1fr;

    .form-body {
        grid-area: body;
        padding: 20px;

        &::-webkit-scrollbar {
            width: 5px;
            background-color: rgb(207, 205, 205);
            border-radius: 20px;
            overflow: hidden;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--primary);
            border-radius: 20px;
        }

        .landmark label{
            
            display: flex;
            gap: 5px;

            &::before {
                content: "* ";
                color: red;
                font-size: 1.3rem;
            }
        }

        
    .selection-tile {
        border: solid 2px var(--primary);
        height: 55px;
        width: auto;
        border-radius: 5px;
        display: flex;
        padding: 0px 10px;
        justify-content: space-between;
        align-items: center;
    }


    .remove-btn {
        font-size: 12px;
        width: 40px;
        height: 40px;
        padding: 10px 15px;
        background-color: var(--primary);
        color: white;
        opacity: 0.7;
        border-radius: 100%;
        align-self: center;
        display: grid;
        place-items: center;
    }

    .dropdown label{

     display: flex;
     gap: 5px;

        &::before{
            content: "* ";
            color: red;
            font-size: 1.2rem;
        }
    }


    .guide-column div{
        display: flex;
        gap: 5px;
    }
    }

    .nav {
        grid-area: "nav";
    }

}